*{
	border:0;
	margin:0;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	-o-box-sizing:border-box;
	box-sizing:border-box;
}

body{
	background:#FFF;
	font-family:"Open Sans",Sans-serif;
	font-size:16px;
}

.contenedor{
	width:90%;
	max-width:1000px;
	margin:auto;
	overflow:hidden;
}

header{
	background:url(../img/banner.jpg) center no-repeat #4EA0F9;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-ms-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
	max-height:600px;
}

header .contenedor-text .texto,
header .menu{
	background:rgba(78,160,249,.6);
	text-align:center;
}

header .menu{
	margin:40px 0;
	border-radius:5px;
	padding:17px 15px 10px;
}

header .menu a{
	margin:0 20px;
	color:#FFF;
	padding-bottom:9px;
	display:inline-block;
	text-decoration:none;
	border-bottom:2px solid transparent;
	font-size:1em;
}

header .menu a:hover{
	border-bottom:2px solid #FFF;
}

header .contenedor-text{
	display:flex;
	justify-content:center;
	align-content:center;
	margin:150px 0;
}

header .contenedor-text .texto{
	border:3px solid rgba(255,255,255,.7);
	border-radius:8px;
	display:inline-block;
	padding:20px 60px;
}

.main .info,footer{
	background:#f2f2f2;
}

header .contenedor-text .texto h1,
header .contenedor-text .texto h2{
	color:#fff;font-weight:300;
}

header .contenedor-text .texto .nombre{
	margin-bottom:10px;
	padding-bottom:5px;
	font-size:2em;
	line-height:35px;
}

header .contenedor-text .texto .profesion{
	margin-bottom:20px;
	font-size:1.7em;
	line-height:27px;
}

.main .contenedor{
	overflow:visible;
}

.main .acerca-de{
	text-align:center;
}

.main .acerca-de .foto{
	margin-top:40px;
}

.main .acerca-de .foto img{
	vertical-align:top;
}

.main .acerca-de .text{
	color:#5a5a5a;
	font-weight:600;
	font-size:1em;
	line-height:30px;
	width:80%;
	margin:40px auto 30px;
}

#map,table{width:100%}

.main .acerca-de .text .titulo{
	font-size:35px;
	font-weight:400;
	color:#000014;
	margin:30px;
}

.main .acerca-de .text .bold{
	color:#4EA0F9;
	font-weight:600;
	text-decoration:underline;
}

.main .info{padding:30px 0 0;}

.main .info .titulo{
	font-size:35px;
	font-weight:400;
	color:#4c4c4c;
	margin-bottom:30px;
	text-align:center;
}

#map{
	height:400px;
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	justify-content:space-between;
	align-items:center;
}

table{
	padding-bottom:20px;
	text-align:center;
}

td,th{
	border-bottom:1px solid #ddd;
	padding:3px 20px;
}

tr:hover{background-color:#fff;}

.main .text .address{
	text-align:center;
	padding-bottom:10px;
}

.main .trabajos{
	padding:40px 0;
	overflow:hidden;
}

.main .trabajos .texto .bold{
	color:#4EA0F9;
	font-size:1em;
	font-weight:600;
	text-decoration:underline;
}

.main .trabajos .titulo{
	font-size:35px;
	font-weight:400;
	color:#4c4c4c;
	margin-bottom:30px;
	text-align:center;
}

.main .trabajos .contenedor-trabajos{
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	justify-content:space-between;
	align-items:center;
}

.main .trabajos .contenedor-trabajos .trabajo{
	width:100%;display:flex;
	flex-direction:row;
	justify-content:space-between;
	align-items:center;
}

.main .trabajos .contenedor-trabajos .trabajo .thumb{width:20%}
.main .trabajos .contenedor-trabajos .trabajo .thumb img{
	margin-top:3px;
	width:100%;
	height:100%;
}

.main .trabajos .contenedor-trabajos .trabajo .descripcion{
	width:80%;
	padding:0 5%;
}

.main .trabajos .contenedor-trabajos .non{
	text-align:right;
	padding:20px 0;
}

.main .trabajos .contenedor-trabajos .trabajo .descripcion .nombre{
	font-weight:700;
	color:#3895ea;
}

.main .trabajos .contenedor-trabajos .trabajo .descripcion .categoria{
	font-size:1.2em;
	padding-top:10px;
	color:#636363;
}

.main .trabajos .contenedor-trabajos .trabajo .descripcion .texto{
	font-size:1em;
	padding:7px 0;
	color:#636363;
}

footer .contacto .titulo{
	padding:20px 0;
	font-size:35px;
	font-weight:400;
	color:#565656;
	margin-bottom:0;
	text-align:center;
}

footer .contacto .formulario{
	display:flex;
	flex-wrap:wrap;
	justify-content:space-between;
}

footer .contacto .formulario input[type=text],
footer .contacto .formulario input[type=email],
footer .contacto .formulario textarea{
	border:2px solid #cecece;
	border-radius:5px;
	padding:15px 20px;
	font-size:1.5em;
	color:#a4a4a4;
}

footer .contacto .formulario input[type=text]:focus,
footer .contacto .formulario input[type=email]:focus,
footer .contacto .formulario textarea:focus{
	border:2px solid rgba(0,20,20,.8);
}

footer .contacto .formulario input[type=text],
footer .contacto .formulario input[type=email]{
	width:48%;
	margin-bottom:15px;
}

footer .contacto .formulario textarea{
	width:100%;
	margin-bottom:15px;
	height:100px;
	min-width:100%;
	max-width:100%;
	min-height:100px;
	max-height:300px
}
footer .contacto .formulario .boton{margin:auto;width:69%;
	background:#4ea0f9;
	color:#fff;
	border:none;
	border-radius:3px;
	font-size:20px;
	font-weight:400;
	padding:15px 40px;
	cursor:pointer;}

footer .contacto .formulario .g-recaptcha{
	margin:auto;
	padding-bottom:15px;
}

footer .contacto .formulario .boton:hover{background:#ccc;}

footer .redes-sociales{
	background:#4EA0F9;
	margin-top:60px;
	padding:20px 0;
}

footer .redes-sociales .contenedor{
	display:flex;
	justify-content:center;
}

footer .redes-sociales .texto{width:100%;}

footer .redes-sociales a{
	color:#FFF;
	text-align:center;
	width:100px;
	display:block;
	padding:15px 0;
	border-radius:3px;
	font-size:30px;
	margin:0 20px;
}

footer .redes-sociales .facebook:hover{background:#3b5998;}

footer .redes-sociales .twitter:hover{background:#1da1f2;}

footer .redes-sociales .instagram:hover{background:#f77737;}

footer .redes-sociales .linkedin:hover{background:#0077b5;}

footer .marca{
	padding:20px;
	background:#f2f2f2;
}

footer .marca .contenedor{
	border-top:1px solid rgba(0,0,0,.5);
}

footer .marca img{
	margin-top:10px;
	float:right;
	height:4em;
}

@media screen and (max-width:1100px){
	footer .contacto .formulario .boton{width:100%;}
}

@media screen and (max-width:600px){
	body{font-size:13px;}header .menu a{margin:0 13px;}
	
	.main .trabajos .trabajo{
		width:100%;
		flex-wrap:wrap;
	}

	.main .text .address{font-size:1.3em;}

	.order .uno{order:2;}
	
	.order .dos{order:1;}
	
	.uno{order:2;}
	
	.dos{order:1;}

	.main .trabajos .contenedor-trabajos .trabajo .descripcion .nombre{font-size:1.4em;}
	
	.main .trabajos .contenedor-trabajos .trabajo .descripcion .categoria{font-size:1.3em;}
	
	.main .trabajos .contenedor-trabajos .trabajo .descripcion .texto{font-size:1.2em;}
	
	.main .trabajos .contenedor-trabajos,
	.main .trabajos .contenedor-trabajos .non{text-align:center;}
	
	.main .trabajos .contenedor-trabajos .trabajo .descripcion,
	.main .trabajos .contenedor-trabajos .trabajo .thumb{
		padding:15px;
		width:100%;
	}

	footer .contacto .formulario input[type=text],
	footer .contacto .formulario input[type=email]{
		width:100%;
		margin-bottom:15px;
	}
	
	footer .redes-sociales a{
		color:#FFF;
		text-align:center;
		width:100px;
		display:block;
		padding:8px 0;
		border-radius:3px;
		font-size:2em;
		margin:0 15px;
	}

	footer .marca .contenedor{width:100%;}
}